:local .weatherData{
  padding: 20px;
  hr{
    width: 70%;
    border-top: 0;
    border-bottom: 1px solid #ffd04a;
  }
  :local .cityName{
    font-weight: 300;
    font-size: 20px;
  }
  :local .subText{
    font-size: 10px;
    font-weight: 100;
    font-style: italic;
    margin-right: 5px;
  }
  :local .description{
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
  }
  :local .temperature{
    font-size: 55px;
    font-weight: 300;
    .degree{
      font-size: 15px;
      vertical-align: super;
    }
  }
  :local .summary{
      margin-top: 10px;
      font-size: 14px;
      font-weight: 400;
      font-style: italic;
      span{
        font-weight: 300;
        line-height: 30px;
        margin-right:5px;
      }
  }
  .refresh{
    img{
      width: 50px;
      cursor: pointer;
      margin: 50px 0 10px 0;
      border-radius: 100%;
      box-shadow: rgba(0, 0, 0, 0.117647) 2px 2px 3px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
      &:hover{
        box-shadow: rgba(0, 0, 0, 0.117647) 3px 3px 10px, rgba(0, 0, 0, 0.117647) 3px 3px 10px;
      }
    }
  }
}